<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="views/collectionCentral-clientside.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <h1>Collection Central</h1>
    <h2>What are you collecting?</h2>
    <p>Please sign-in to see your collections:</p>
    
    <form action="#" method="POST" id="logIn">
        <label for="name ">Name:</label><br>
        <input type="text" id="name" name="name"><br> 
        <label for="password ">Password:</label><br>
        <input type="text" id="password" name="password"><br>
        <input type="button" name="submit_form" id="btn_submit" value="Log In" onclick="submitUser()">  
    </form> 

    <p>Please select a collection:</p>
    <!-- TODO Create collections dynamically based on the log-in -->
    <form action="#" method="GET" id="chooseCollection">
        <select name='collection' id="collectionName"><!--dynamically created with submitUser()-->
        </select>
        <input type="button" name="choose_collection" id="select_btn" value="Select Collection" onclick="chooseCollection()">

    </form>
    <div id="collectionResults"><!--dynamically created with chooseCollection()--></div>
    <div id="addItem"><!--dynamically created with chooseCollection()--></div>
    <div id="addResults"><!--dynamically created with addItemtoDB()--></div>
    
   
</body>
</html>